@{
    ViewBag.Title = "首长决策";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/css/tree")
@Scripts.Render("~/bundles/js/tree")


<script type="text/javascript">
    $(function () {
        $('.tree').treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus'
        });

        $("#dh0").animate({ opacity: '0', }, 'slow');
        for (var i = 1; i <= 3; i++) {
            $("#dh" + i).animate({
                margin: '-10px',
                opacity: '1',
                height: '300px',
            }, "slow"
            );
        }
        $("#dh0").click(function () {

        });

        $("tr").dblclick(function () {
            $("table").hide();
            $("ul").show();
        });
        $("ul img").click(function() {
            $('#myModal').modal('show');
        });
    });
</script>



@section right
{
    <div class="row">
        <iframe src="~/fashu/index.html" style="align-content: center" width="95%" height="380"></iframe>
    </div>
    <div class="row text-center" style="overflow-y:hidden">
        <img id="dh0" src="~/Images/details/book1.png" width="80" height="300" style="opacity: 1">
        <img id="dh1" src="~/Images/details/book2.png" width="80" height="300" style="opacity: 0" />
        <img id="dh2" src="~/Images/details/book3.png" width="80" height="300" style="opacity: 0" />
        <img id="dh3" src="~/Images/details/book4.png" width="80" height="300" style="opacity: 0" />
    </div>
    
    <div class="modal fade  text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog " style="display: inline-block;  width: 90%;">
              <div class="modal-content">
                  <div class="modal-header  text-right" style="opacity:1">
                      <button type="button" class="btn btn-danger" style="margin:-10px 0" data-dismiss="modal">关闭</button>
                  </div>
                  <div class="modal-body">
                      <img src="~/Images/details/zcmb_bm_2013nd.jpg" class="img-responsive" />
                  </div>
              </div>
          </div>
</div>

    
}


